body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #1F2937;
    color: #fff;

  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding-left: 12%;
    padding-top: 10px;
    
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 980px;
    color: #fff;
    margin: 5px;
    font-size: 18px;
  }

  .title {
    list-style: none;
    padding-top: 100px;
    padding-left: 200px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 5px;
  }

  .description {
    list-style: none;
    padding-left: 200px;
    font-size: 18px;
    color: #E5E7EB; 
    margin: 5px;
  }

  .sign-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    background-color: #007bff;
    border-radius: 5px;
    margin-bottom: 240px;
    margin-left: 210px;
    margin-top: 20px;
    font-size: 20px;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 300px;
    background-color: #e5e7eb83;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 100px;
    margin-right: 300px
  }

  .text-image {
    display: flex;
    justify-content: space-between;

  }

  .body1 {
    background-color: #ffffff;
    color: #1F2937;

  }

  .information {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-decoration: none;
    text-align: center;
    padding-top: 40px;
  }

  .box1 {
    display: flex;
    background-color: #fff;
    border-style: solid;
    border-width: 5px;
    border-color: #007bff;
    width: 10%;
    height: 170px;
    border-radius: 10px;
  }

  .box2 {
    display: flex;
    background-color: #fff;
    border-style: solid;
    border-width: 5px;
    border-color: #007bff;
    width: 10%;
    height: 170px;
    border-radius: 10px;
  }

  .box3 {
    display: flex;
    background-color: #fff;
    border-style: solid;
    border-width: 5px;
    border-color: #007bff;
    width: 10%;
    height: 170px;
    border-radius: 10px;
  }

  .box4 {
    display: flex;
    background-color: #fff;
    border-style: solid;
    border-width: 5px;
    border-color: #007bff;
    width: 10%;
    height: 170px;
    border-radius: 10px;
  }

  .subtext1 {
    display: flex;
    background-color: #fff;
    width: 10%;
    height: 70px;
    border-radius: 10px;
    text-align: center; 
  }

  .subtext2 {
    display: flex;
    background-color: #fff;
    width: 10%;
    height: 70px;
    border-radius: 10px;
    text-align: center;
  }

  .subtext3 {
    display: flex;
    background-color: #fff;
    width: 10%;
    height: 70px;
    border-radius: 10px;
    text-align: center;
  }

  .subtext4 {
    display: flex;
    background-color: #fff;
    width: 10%;
    height: 70px;
    border-radius: 10px;
    text-align: center;
  }

  .box-list {
    display: flex;
    gap: 50px;
    padding-left: 0;
    margin: 5px;
    justify-content: center;
    font-size: 18px;
    padding-top: 40px;
  }

  .foot-list {
    display: flex;
    gap: 60px;
    margin: 5px;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 100px;
  }

  .body2 {
    background-color: #E5E7EB;
    color: #000000;

  }

  .frase {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-decoration: none;
  }

  .frase-box {
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 50%;
    height: 170px;
    background-color: #E5E7EB;
    margin-left: 28%;
    padding-top: 120px;
  }

  .god {
    font-size: 20px;
    font-weight:900;
    color: #1F2937;
    text-decoration: none;
    margin-left: 65%;
    padding-bottom: 100px;
  }

  .foot {
    display: flex;
    background-color: #fff;
    color: #000000;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;

  }

  .blue-box {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 150px;
    background-color: #007bff;
    margin-top: 100px;
    border-radius: 10px;
  }

  .text-box {
    list-style: none;
    gap: 20px;
    color: #fff;
    margin: 70px;
    font-size: 18px;
  }

  .button {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 13%;
    height: 40px;
    margin: 100px;
    background-color: #007bff;
    border-radius: 10px;
    font-size:20px;
    font-weight: bold;
    color: #fff;
    border-style: solid;
    border-color: #fff;
  }

  .text {
    font-size: 26px;
    font-weight: bold;
  }

  .subtext {
    font-size: 17px;
    font-weight: lighter;
  }

  .nav-list a {
    color: #fff;
    text-decoration: none;
  }

  .sign-button a {
    color: #fff;
    text-decoration: none;
  }
